.subscribeContainer {
    width: 1140px;
    height: 233px;
    background-color: #fff;
    padding: 58.5px 70px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 460px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 30px 60px rgba(202, 201, 201, 0.22);
}

.textContainer {
    width: 410px;
    height: 116px;
    text-align: start;
}