.briefDescription {
    margin-bottom: 140.94px;
    text-align: start;
}
.logo {
    justify-content: flex-start;
}

.socialLinks {
    display: flex;
}
.socialLinks a {
    text-decoration: none;
    width: 33.6px;
    height: 33.6px;
}


