.nav {
    height: 45px;
    display: flex;
    align-items: center;
    margin: 44px auto;
    justify-content: center;
    /* justify-content: space-between; */
    /* padding: 0 150px; */
}

.logo {
    margin-right: 160px;
    justify-content: center;
}




